<div class="navbar">
    <div class="navbarleft">
        <img src="./../../../assets/img/fb_logo.jpg" alt="fb_logo" class="fblogo">
        <div class="searchBarBox">
            <mat-icon class="searchIcon">search</mat-icon>
            <input placeholder='Search for your friends' class="searchInput" />
        </div>      
    </div>
    <div class="navbarcenter">
        <div class="tabs">
            <button class="centerButtons">
                <mat-icon class="icon">home</mat-icon>
            </button>
        </div>
            <div class="tabs">
                <button class="centerButtons">
                    <mat-icon class="icon">ondemand_video</mat-icon>
                </button>
            </div>
            <div class="tabs">
                <button class="centerButtons">
                    <mat-icon class="icon">store</mat-icon>
                </button>
            </div>
            <div class="tabs">
                <button class="centerButtons">
                    <mat-icon class="icon">supervised_user_circle</mat-icon>
                </button>
            </div>
            <div class="tabs">
                <button class="centerButtons">
                    <mat-icon class="icon">view_compact</mat-icon>
                </button>
            </div>
    </div>
    <div class="navbarright">
        <div class="profile">
            <img src="../../../assets/img/dp/dp_07.jpg" alt="dp" class="dp_logo">
            <span class="dp_name">Kane Snow</span>
        </div>
        <div class="navbarRightIcons">
            <div class="navbarRightIcon">
                <button class="navbarRightButtons">
                    <mat-icon class="circle_button">add</mat-icon>
                </button>
            </div>
            <div class="navbarRightIcon">
                <button class="navbarRightButtons">
                    <mat-icon class="circle_button">message</mat-icon>
                </button>
            </div>
            <div class="navbarRightIcon">
                <button class="navbarRightButtons">
                    <mat-icon class="circle_button">notifications</mat-icon>
                </button>
            </div>
            <div class="navbarRightIcon">
                <button class="navbarRightButtons">
                    <mat-icon class="circle_button">arrow_drop_down</mat-icon>
                </button>
            </div>
        </div>   
    </div>  
</div>
